footer {
  height: 85px;
  background-color: #7F3C1B;
  width: 100%;
  display: flex;
  align-items: center;
}
.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white; 
  align-items: center;
}
.brand-logo{
  width: 200px;
  height: auto;
  @media screen and (max-width: 767px) {
    width: 100px;
  }
}
.contacts {
  font-size: 1rem;
  @media screen and (max-width: 425px) {
    font-size: 0.75rem;
  }
}
.mail-social {
  width: 66%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  @media screen and (max-width: 768px) {
    flex-direction: column;
    gap: 0;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }
}
.social-media {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
  @media screen and (max-width: 767px) {
    flex-direction: column;
  }
}
.social-icons {
  display: flex;
  align-items: center;
}
.footer-seguinos {
  @media screen and (max-width: 767px) {
    display: none;
  }
}
